# Dependencias e instalaciones
node_modules/
frontend/node_modules/

# Compilación y caché de Next.js
.next/
frontend/.next/

# Archivos de variables de entorno locales (credenciales privadas)
.env*.local
frontend/.env*.local

# Archivos del sistema y del editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
